@import '../../../scss/variables.scss';

.Container {
    padding: 0 calc(50% - 650px);
    margin-top: 80px;
    margin-bottom: 65px;

    display: grid;
    gap: 30px;

    .Title {
        max-width: 40%;

        text-transform: uppercase;
        font-size: 34px;
        line-height: 42px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        color: $color-coffee
    }

    .BlockGrid {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: space-between;
        gap: 30px 20px;
        margin-bottom: 30px;
    }

    .Btn {
        justify-self: center;

        font-family: 'Lato', sans-serif;
        font-weight: 700;

        padding: 10px 48px;
        border-radius: 2px;
        border: 1px solid $color-coffee;

        color: $color-white;
        background-color: $color-coffee;
        
        transition: all 0.3s ease-in-out;

        &:hover {
            border-radius: 8px;
            color: $color-coffee;
            background-color: $color-white;
        } 
    }
}