@import '../../../scss/variables.scss';

.Container {
    position: absolute;
    bottom: -245%;
    left: 6.5%;
    padding: 15px;

    background-color: #F5F5F5;
    border-radius: 10px;

    display: none;
    gap: 5px;

    .Link {
        font-weight: 500;
        color: $color-black;
        font-size: 18px;
        line-height: 22px;

        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.Active {
    display: grid;
}