@import "../../../scss/variables.scss";

.Container {
  display: flex;
  gap: 6px;
  padding-bottom: 20px;

  border-radius: 10px;
  .BlockContent {
    padding-left: 12px;
    h3 {
      color: $color-coffee;
      font-size: 28px;
      line-height: 26px;
      margin-bottom: 15px;
    }
    .Price {
      color: $color-black;
      font-size: 30px;
      line-height: 28px;
      font-weight: 600;
      margin-bottom: 15px;
      .USD {
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: $color-gray;
      }
    }
    .Rooms {
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      color: $color-gray;
      margin-bottom: 20px;
    }
    .BlockText {
      display: grid;
      grid-auto-flow: column;
      gap: 6px;
      align-content: center;
      justify-content: flex-start;

      font-size: 18px;
      line-height: 18px;
      color: $color-gray-transparent;
      margin-bottom: 20px;
    }
    .Description {
      max-width: 600px;
      font-size: 18px;
      line-height: 20px;
      color: $color-gray-transparent;
    }
  }
  .Btn {
    max-width: 350px;
    margin-bottom: 20px;
    position: relative;
    .Slider {
      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
      img {
        border-radius: 10px;
      }
    }
    .ImgHeart {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 1;
    }
  }
}

@media (max-width: 1400px) {
  .Container {
    margin-left: 3%;
  }
}

@media (max-width: 992px) {
  .Container {
    .BlockContent {
      .Description {
        max-width: 500px;
      }
    }
  }
}

@media (max-width: 786px) {
  .Container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .BlockContent {
      h3 {
        font-size: 24px;
      }
      .Price {
        font-size: 26px;

        .USD {
          font-size: 16px;
        }
      }
      .Rooms {
        font-size: 16px;
      }
      .BlockText {
        font-size: 16px;
      }
      .Description {
        max-width: 350px;
        font-size: 16px;
      }
    }
    .Btn {
      .Slider {
        img {
          border-radius: 10px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .Container {
    margin-bottom: 40px;
  }
}
