@import "../../../scss/variables.scss";
@import "../../../scss//mixins.scss";
.Container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: body;
  gap: 40px;
  .Slider {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    img {
      width: 650px;
      border-radius: 10px;
    }
  }
  .SliderContainer {
    max-width: 650px;
    position: relative;
    margin: auto;
    margin-bottom: 50px;
    .ImgHeart {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index:1 ;
    }
  }

  .Text {
    .Title {
      font-size: 26px;
      color: $color-coffee;
      margin-bottom: 20px;
    }
    .Price {
      font-size: 24px;
      line-height: 26px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      span {
        font-size: 30px;
        line-height: 36px;
        color: $color-black;
      }
      h4 {
        margin-right: 20px;
      }
      h5 {
        color: $color-gray;
      }
      &Month {
        color: $color-gray-light;
        font-size: 18px;
        margin-bottom: 20px;
      }
    }
    .InfoBlock {
      display: flex;
      color: $color-gray-transparent;
      margin-top: 10px;

      img {
        margin-right: 5px;
      }
    }
    .Rating {
      font-size: 20px;
      color: $color-coffee;
      margin-top: 20px;
      margin-bottom: 10px;
      span {
        margin-left: 10px;
        text-decoration-line: underline;
      }
    }
    .Decription {
      margin-top: 20px;
      color: $color-gray-transparent;
      font-size: 16px;
      max-width: 500px;
      line-height: 17px;
    }
    .BtnBlock {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }
    .BtnDark {
      width: fit-content;
      @include buttonPrimary;
    }
    .BtnLight {
      margin-top: 20px;
      width: fit-content;
      @include buttonWhite;
      transition: $transition;
      svg {
        margin-right: 10px;
      }
      &:hover {
        svg {
          transition: $transition;
          fill: #fff;
        }
      }
    }
  }
}

// media requests

@media (max-width: 1400px) {
  .Container {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media (max-width: 1200px) {
  .Container {
    .Slider {
      img {
        width: 550px;
        border-radius: 10px;
      }
    }
    .SliderContainer {
      max-width: 550px;
      margin-bottom: 45px;
    }

    .Text {
      .Title {
        font-size: 24px;
      }
      .Price {
        font-size: 22px;
        line-height: 24px;

        span {
          font-size: 32px;
          line-height: 32px;
        }
        h4 {
          font-size: 22px;
        }
        h5 {
          font-size: 22px;
        }
        &Month {
          font-size: 16px;
        }
      }

      .Rating {
        font-size: 18px;
      }
      .Decription {
        font-size: 14px;
        max-width: 400px;
        line-height: 17px;
      }
    }
    margin-left: 1%;
  }
}

@media (max-width: 992px) {
  .Container {
    grid-template-columns: 1fr 1.6fr;
    margin-left: 1%;
    margin-right: 1%;
    gap: 30px;

    .Slider {
      img {
        width: 400px;
        border-radius: 10px;
      }
    }

    .Text {
      .Title {
        font-size: 24px;
      }
      .Price {
        font-size: 22px;
        line-height: 24px;

        span {
          font-size: 32px;
          line-height: 32px;
        }
        h4 {
          font-size: 22px;
        }
        h5 {
          font-size: 22px;
        }
        &Month {
          font-size: 16px;
        }
      }

      .Rating {
        font-size: 18px;
      }
      .Decription {
        font-size: 14px;
        max-width: 300px;
        line-height: 17px;
      }
    }
    .SliderContainer {
      max-width: 400px;
    }
  }
}

@media (max-width: 768px) {
  .Container {
    grid-template-columns: 1fr;
    margin-left: 1%;
    margin-right: 1%;
    gap: 30px;

    .Text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .SliderContainer {
      margin: 0 auto;
      max-width: 400px;
    }
  }
  

  
}

@media (max-width: 576px) {
  .Container {
    grid-template-columns: 1fr;
    margin-left: 1%;
    margin-right: 1%;
    gap: 20px;
    .Slider {
      img {
        width: 300px;
        border-radius: 10px;
      }
    }
    .SliderContainer {
      margin: 0 auto;
      max-width: 300px;
    }
  }

 
}
