.Container{
    margin-top: 20px;
    input[type="checkbox"] {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }
    .Checkbox{
        display: inline-block; // set to `inline-block` as `inline elements ignore `height` and `width`
        height: 20px;
        width: 20px;
        background: #000;
        border: 2px #ddd solid;
        margin-right: 4px;;
    }
    .active{

        border-color: purple;
        background: purple;
    }
    .inActive{
        height: 20px;
        width: 20px;
        border-color: purple;
        background: purple;
    }
}
