@import "../../../scss/variables.scss";

.Container {
  display: grid;
  gap: 6px;
  padding-bottom: 20px;
  background-color: $bg-white;
  border-radius: 10px;  
  width: fit-content;
  max-width: 300px;
  
  .BlockContent {
    padding-left: 12px;

    .Price {
      color: $color-black;
      font-size: 20px;
      line-height: 28px;
      font-weight: 600;
    }
    .Rooms {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: $color-gray;
    }
    .BlockText {
      display: grid;
      grid-auto-flow: column;
      gap: 6px;
      align-content: center;
      justify-content: flex-start;

      font-size: 14px;
      line-height: 18px;
      color: $color-gray-transparent;
    }
  }
  .Btn {
    max-width: 300px;
    margin-bottom: 20px;
    position: relative;
    .Slider {
      display: flex;
      justify-content: center;
      align-items: center;
     
      overflow: hidden;
      cursor: pointer;
      border-radius: 10px 10px 0 0;
      img{
        width: 300px;
        height: 250px;
      }
    }
    .ImgHeart {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 1;
      
    }
  }
}

@media (max-width: 1399.98px) {
  .Container {
    max-width: 260px;
    .Btn {
      max-width: 260px;
    }
  }
}

@media (max-width: 1199.98px) {
  .Container {
    max-width: 290px;
    .Btn {
      max-width: 290px;
    }
  }
}

@media (max-width: 991.98px) {
  .Container {
    max-width: 345px;
    .Btn {
      max-width: 345px;
      .Slider {
        img {
          width: 345px;
        }
      }
    }
  }  
}

@media (max-width: 767.98px) {
  .Container {
    max-width: 260px;
    .Btn {
      max-width: 260px;
      .Slider {
        img {
          width: 260px;
        }
      }
    }
  }  
}

@media (max-width: 575.98px) {
  .Container {
    max-width: 300px;
    .Btn {
      max-width: 300px;
      .Slider {
        img {
          width: 300px;
        }
      }
    }
  }  
}