@import '../../../../scss/variables.scss';

.Container {
    position: relative;
    display: grid;
    gap: 10px 0;

    .BtnSelected {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;

        padding: 10px;
        font-size: 16px;

        background: rgba(217, 217, 217, 0.1);
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 2px;

        transition: border-radius 0.3s ease-in-out, 
                    border 0.3s ease-in-out;

        &:focus {
            border-radius: 10px;
            border: 2px solid rgba(0, 0, 0, 0.3);
        }
    }

    .BlockInput {
        position: absolute;
        left: -50%;
        top: 130%;
        z-index: 1;
        
        background-color: rgb(240, 240, 240);
        border-radius: 7px;
        padding: 15px;

        display: none;
        grid-auto-flow: column;
        gap: 0 5px;

        input {
            max-width: 100px;
            padding: 10px;
            background: #F9F9F9;
            border: 2px solid rgba(0, 0, 0, 0.1);
            border-radius: 5px;

            transition: $transition;
            
            font-size: 14px;
            line-height: 16px;
            &::placeholder {
                color: #D9D9D9;
            }
            &:focus {
                border-radius: 10px;
                border: 2px solid rgba(0, 0, 0, 0.2);
            }
        }
    }

    .Active {
        display: grid;
    }
}