@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";
.Container {
  width: 400px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    text-align: center;
    font-size: 40px;
    color: $color-gray;
    margin-bottom: 15px;
    font-weight: 600;
  }
  h4 {
    font-size: 16px;
    line-height: 22px;
    color: $color-gray;
  }
  .Redirect{
    color: $color-coffee;
    border-bottom: 1px solid $color-coffee;
    transition: $transition;
    &:hover{
      transition: $transition;
      opacity: 0.8;
    }
  }
  .btn {
    @include buttonPrimary;
    padding: 20px 40px;
    font-size: 24px;
    margin-top: 50px;
    width: 300px;
    font-weight: normal;
  }
  button:disabled{
    &:hover{
      background-color: rgb(119, 119, 119);
      color: #000;
    }
  }
  .Password{
    position: relative;
    img{
        position: absolute;
        top: 42px;
        right: 20px;
    }
  }
  .Input{
    @include input;
  }
}
.None{
  display: none;
}

.Error{
  color: red;
  text-align: center;
  margin-top: 10px;
}