@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";
.Container {
  width: 400px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .Title {
    text-align: center;
    font-size: 40px;
    color: $color-gray;
    margin-bottom: 15px;
    font-weight: 600;
  }
  .Text {
    font-size: 16px;
    line-height: 22px;
    color: $color-gray;
  }
  .Redirect {
    margin-left: 4px;
    color: $color-coffee;
    border-bottom: 1px solid $color-coffee;
    transition: $transition;
    &:hover {
      transition: $transition;
      opacity: 0.8;
    }
  }
  .Btn {
    @include buttonPrimary;
    padding: 20px 40px;
    font-size: 24px;
    margin-top: 30px;
    width: 300px;
    font-weight: normal;
  }
  button:disabled {
    &:hover {
      background-color: rgb(119, 119, 119);
      color: #000;
      cursor: auto;
    }
  }
  .Password {
    position: relative;
    img {
      position: absolute;
      top: 42px;
      right: 20px;
    }
  }
  .Checkbox {
    margin-top: 20px;
    max-width: 400px;
    
    display: grid;
    align-items: center;
    gap: 0 10px;
    grid-template-columns: repeat(2, auto);

    font-size: 15px;
    opacity: 0.7;
  }
  input[type="checkbox"] {
    width: 25px;
    height: 25px;
  }
  .Input {
    @include input;
  }
}
.None {
  display: none;
}

.Error {
  color: red;
  text-align: center;
  margin-top: 5px;
}

// media requests

@media (max-width: 768px) {
  .Container {
    .Title {
      font-size: 30px;
    }
    .Checkbox {
      max-width: 300px;

      text-align: center;
    }
    .Input {
      height: 50px !important;
      width: 300px !important;
    }
  }
}

@media (max-width: 575.98px) {
  .Container {
    overflow: auto;
    background-color: $bg-white;
    width: 100vw;
    height: 100vh;
    .Title {
      font-size: 30px;
      line-height: 32px;      
    }
    .Input {
      max-width: 280px;
    }
    .Checkbox {
      max-width: 280px;
      font-size: 13px;
    }
    .Btn {
      width: fit-content;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      padding: 10px 20px;
    }
  }
}