@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";
.container {
  flex: 1 1 auto;
  margin-left: 30px;
  .confirm {
    padding: 15px;
    box-shadow: 0px 6px 10px $color-gray-transparent;
    border-radius: 10px;
    margin-bottom: 34px;
    gap: 30px;
    display: flex;
    flex-direction: column;
  }
  .item {
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      align-items: center;

      p {
        color: $color-gray-transparent;
        padding-right: 10px;
        font-size: 18px;
      }
      padding-bottom: 5px;
    }
    input[type="tel"] {
      font-size: 18px;
      padding: 8px 10px;
      border: 1px solid rgba(88, 88, 88, 0.2);
      border-radius: 5px;
      margin-bottom: 10px;
      width: 290px;
    }
    a {
      font-size: 20px;
      color: $color-coffee;
    }
  }
  .unconfirmed {
    background: $color-red;
    border-radius: 5px;
    color: $color-white;
    padding: 4px 8px;
  }
  .confirmed {
    background: $dark-green;
    border-radius: 5px;
    color: $color-white;
    padding: 4px 8px;
  }
  .changePassword{
      padding-top: 30px;
      display: flex;
      flex-direction: column;
    h5{
        font-size: 18px;
        color: $color-gray-transparent;
        margin-bottom: 15px;
    }
    
    .inputWrapper{
      position: relative;
      width: 290px;
      img{
        position: absolute;
        top: 14px;
        right: 17px;

      }
    }
    
    
    input{
      font-size: 18px;
      padding: 8px 10px;
      border: 1px solid rgba(88, 88, 88, 0.2);
      border-radius: 5px;
      margin-bottom: 10px;
      width: 290px;
  }
    .btn {
      @include buttonPrimary;
      margin-top: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 190px;
    }
  }
  
}
