@import "../../../scss/variables.scss";

.Container {

  margin-left: 2%;
  .NavItem {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: $color-gray;
    background-color: #fff;
    padding: 7px 10px;
    margin-bottom: 10px;
    width: 260px;
    margin-right: 20px;
    .Btn {
      padding-left: 16px;
    }
    &:hover {
      transition: $transition;
      background: #ececec;
      border-radius: 5px;
    }
  }
}
@media (max-width: 1400px) {
  .Container {
   
    .NavItem {
      width: 150px;
      margin-right: 20px;
    }
  }
}

@media (max-width: 992px) {
  .Container {
   display: none;
  }
}
