@import "../../scss/variables.scss";

.Container {
  grid-area: footer;

  padding: 0 calc(50% - 650px);

  display: grid;
  grid-template-columns: 0.78fr 0.7fr 1.25fr;

  padding-top: 20px;
  padding-bottom: 60px;

  background-color: $bg-white;

  .Block {
    display: grid;
    align-content: flex-start;
    gap: 7px;
    .Title {
      margin-bottom: 5px;
      font-size: 24px;
      line-height: 28px;
      font-weight: 600;
      color: $color-coffee;
    }
    a {
      color: $color-gray-transparent;
      transition: $transition;
      &:hover {
        transform: scale(1.02);
      }
    }
    .Contacts {
      display: flex;
      align-items: center;
      p {
        padding-left: 10px;
        font-size: 20px;
        line-height: 24px;
      }
    }

    .Btn {
      cursor: pointer;
      text-align: start;
      transition: $transition;
      color: $color-gray-transparent;
      font-size: 18px;
      line-height: 22px;
      &:hover {
        transform: scale(1.02);
      }
    }
  }

  .BlockLogo {
    justify-self: center;

    display: grid;
    grid-auto-flow: column;
    gap: 20px;

    .Gpc {
      padding-top: 15px;
    }
  }
}

@media (max-width: 1399.98px) {
  .Container {
    padding: 0 3% 20px 3%;
  }
}

@media (max-width: 1199.98px) {
  .Container {
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
  }
}

@media (max-width: 991.98px) {
  .Container {
    .Block {
      .Title {
        font-size: 20px;
        line-height: 24px;
      }
      .Contacts {
        p {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
    .BlockLogo {
      gap: 10px;
      img {
        width: 100px;
      }
      .Gpc {
        padding-top: 10px;
        width: 70px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .Container {
    .Block {
      .Contacts {
        p {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
    .BlockLogo {
      align-content: flex-start;
      grid-auto-flow: row;
      .Gpc {
        padding: 0;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .Container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 15px 0;
    .BlockLogo {
      justify-self:auto;
      grid-auto-flow: column;
      align-items: center;
      justify-content: space-between;
    }
  }
}