@import '../../../scss/mixins.scss';
.Container{
    grid-area: body;
}
.Center{
    grid-area: body;
    display: grid;
    align-items: center;
    justify-content: center;
}
.Error{
    @include error
}