@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.Container{
    width: 400px;
    height: 550px;
    display: grid;
    justify-items: center;
    align-content: center;

    .Title {
        text-align: center;
        font-size: 40px;
        color: $color-gray;
        margin-bottom: 15px;
        font-weight: 600;
    }
    .Input{
        @include input;
    }
    .Btn {
        @include buttonPrimary;
        padding: 20px 40px;
        font-size: 24px;
        margin-top: 50px;
        width: 300px;
        font-weight: normal;
    }
    .Redirect{
        color: $color-coffee;
        border-bottom: 1px solid $color-coffee;
        transition: $transition;
        font-size: 18px;
        &:hover{
          transition: $transition;
          opacity: 0.8;
        }
    }
}
.None{
    display: none;
}

@media (max-width: 575.98px) {
    .Container {
        background-color: $bg-white;
        width: 100vw;
        height: 100vh;
        .Title {
            font-size: 30px;
            line-height: 32px;      
        }
        .Input {
            max-width: 280px;
        }
        .Btn {
            width: fit-content;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            padding: 10px 20px;
        }      
    }
}