@import "../../../scss/variables.scss";

.Container {
  padding: 30px calc(50% - 650px);

  background: url("../../../assets/Main/bg-title.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: grid;
  .Title {
    max-width: 44%;

    text-transform: uppercase;
    font-size: 47px;
    font-weight: 600;
    line-height: 56px;
    color: $color-white;
  }

  .Desrc {
    max-width: 30%;

    color: $color-white;
    font-size: 24px;
    line-height: 32px;

    margin-bottom: 100px;
  }

  .Btn {
    max-width: 250px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: $color-white;
    font-size: 18px;
    line-height: 22px;

    padding: 12px 40px;

    border: 1px solid $color-coffee;
    border-radius: 2px;
    background-color: $color-coffee;

    transition: $transition;
    &:hover {
      color: $color-coffee;
      background-color: $color-white;
      border-radius: 8px;
    }
  }
}

@media (max-width: 1399.98px) {
  .Container {
    padding: 30px 3%;
  }
}

@media (max-width: 991.98px) {
  .Container {
    .Title {
      font-size: 35px;
      line-height: 40px;
    }
    .Desrc {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 50px;
    }
    .Btn {
      max-width: 190px;
      padding: 12px 20px;

      font-size: 16px;
      line-height: 18px;
    }
  }
}

@media (max-width: 575.98px) {
  .Container {
    .Title {
      text-transform:none;
      margin-bottom: 10px;
      max-width: 80%;
      font-size: 25px;
      line-height: 30px;
    }
    .Desrc {
      max-width: 70%;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 30px;
    }
    .Btn {
      max-width: 190px;
      padding: 12px 20px;

      font-size: 16px;
      line-height: 18px;
    }
  }
}