@import "../../scss/variables.scss";

.Container {
  grid-area: header;
  padding: 0 calc(50% - 650px);

  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-content: center;

  height: 70px;

  font-family: "Lato";
  background-color: #686868;

  .Menu {
    display: none;
  }
  .Logo {
    transition: $transition;
    margin-left: 3%;
    &:hover {
      transition: $transition;
      transform: scale(1.05);
    }
  }
  .BlockLink {
    display: grid;
    grid-auto-flow: column;
    gap: 0 20px;
    align-content: center;

    font-size: 16px;
    line-height: 19px;
    color: $color-white;
    a {
      color: $color-white;
      transition: $transition;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .BlockLinkAuth {
    display: grid;
    grid-auto-flow: column;
    gap: 0 20px;
    align-content: center;

    font-size: 16px;
    line-height: 19px;
    color: #686868;
    a {
      color: #686868;
      transition: $transition;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .RightSideBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    .BlockBarLine {
      position: relative;
      display: grid;
      align-content: space-between;
      padding: 15px 12px;
      .BarLine {
        position: relative;
        width: 15px;
        height: 0.5px;
        background-color: #686868;
      }
    }
    .UserPanel {
      display: flex;
      border: 1px solid rgba(95, 95, 95, 0.4);
      border-radius: 23px;
      margin-left: 20px;
      position: relative;
      img {
        padding: 5px;
      }
    }
  }

  .BlockBtn {
    justify-self: flex-end;
    font-weight: 700;

    display: grid;
    grid-auto-flow: column;
    gap: 10px;

    .Login,
    .Registration {
      font-size: 15px;
      line-height: 18px;
      transition: all 0.3s ease-in-out;
    }

    .Login {
      color: $color-white;
      padding: 4px 10px;
      border: 1px solid transparent;

      &:hover {
        border-radius: 10px;
        color: $color-coffee;
        border: 1px solid $color-coffee;
      }
    }

    .Registration {
      padding: 8px 20px;
      border-radius: 10px;

      color: $color-coffee;
      border: 1px solid $color-coffee;

      &:hover {
        border: 1px solid $color-white;
        color: $color-white;
      }
    }
  }
}

.Auth {
  background-color: $color-gray-light;
}

@media (max-width: 1399.98px) {
  .Container {
    padding: 0 3%;
    
    .Logo {
      margin: 0;
    }
  }
}
@media (max-width: 1199.98px) {
  .Container {
    .Logo {
      max-width: 110px;
    }
    .BlockLinkAuth,
    .BlockLink {
      gap: 15px;
    }
    .BlockBtn {
      .Login,
      .Registration {
          font-size: 14px;
          line-height: 16px;
      }  
    }
  }
}

@media (max-width: 991.98px) {
  .Container {

    .Logo {
      max-width: 100px;
    }
    .BlockLinkAuth,
    .BlockLink {
      gap: 10px;
      font-size: 14px;
      line-height: 16px;
    }
  }
  .RightSideBar {
    .UserPanel {
      margin-left: 10px;
    }
  }
}

@media (max-width: 767.98px) {
  .Container {
    grid-template-columns: repeat(2, auto);
    background-color: $color-white;
    border-bottom: 1px solid $bg-white;
    .Menu {
      display: block;
    }
    .Logo {
      // display: none;
    }
    .BlockLinkAuth,
    .BlockLink {
      display: none;
      // gap: 10px;
      // font-size: 13px;
      // line-height: 15px;
    }
    .BlockBtn,
    .RightSideBar {
      display: none;
      // .Login {
      //   display: none;
      // }
      // .Registration {
      //   padding: 8px 13px;
      //   font-size: 10px;
      //   line-height: 12px;
      // }
    }  
  }
  // .RightSideBar {
  //   .LinkPersonal {
  //     img {
  //       width: 37px;
  //       height: 37px;
  //     }
  //     .UserPanel {
  //       margin-left: 5px;
  //     }  
  //   }
  // }
}