@import "./variables.scss";

@mixin buttonPrimary {
  display: flex;
  align-items: center;
  justify-content: center;

  justify-self: center;

  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding: 10px 48px;
  border-radius: 2px;
  border: 1px solid $color-coffee;
  
  color: $color-white;
  background-color: $color-coffee;
  width: fit-content;
  transition: $transition;

  &:hover {
    border-radius: 8px;
    color: $color-coffee;
    background-color: $color-white;
  }
}

@mixin buttonWhite {
  justify-self: center;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding: 10px 48px;
  border-radius: 2px;
  border: 1px solid $color-coffee;

  color: $color-coffee;
  background-color: $color-white;
width: fit-content;
  transition: $transition;

  &:hover {
    border-radius: 8px;
    color: $color-white;
    background-color: $color-coffee;
  }
}

@mixin error {
  font-size: 40px;
  color: red;
  text-align: center;
}

@mixin input {
  font-size: 20px;
  padding: 15px;
  margin-top: 20px;
  width: 400px;
  background: rgba(217, 217, 217, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

