$color-white: #fff;
$color-coffee: #C9B087;
$color-gray-transparent: rgba(88, 88, 88, 0.7);
$color-black: #222;
$color-gray: #585858;
$dark-green: #A8B770;
$color-red:rgba(225, 75, 75, 0.8);
$color-gray-light:#D9D9D9;
$bg-white: #F5F5F5;

$transition: all 0.3s ease-in-out;